<section id="tcd-contact" class="tcd-contact-form sec-spacer bg-light-gray">
  <div class="container">
    <h2>Get in Touch</h2>
    <form>
      <input type="text" placeholder="Name" name="name" required>
      <input type="email" placeholder="Email" name="email" required>
      <input type="text" placeholder="Subject" name="subject">
      <textarea rows="7" placeholder="Message" name="message" required></textarea>
      <button type="submit" class="readon">Contact Now</button>
    </form>
  </div>
</section>
