<section id="tcd-about" class="tcd-about sec-spacer">
  <div class="container">
    <!-- Section Title -->
    <div class="tcd-title tcd-title-center mb50">
      <h2>ABOUT <span>COMPANY</span></h2>
    </div>

    <div class="row align-items-center">
      <!-- Image Column -->
      <div class="col-lg-6 d-none d-lg-block">
        <div class="about-img text-center">
          <img src="assets/images/peoples.png" class="img-fluid" alt="About Peoples">
        </div>
      </div>

      <!-- Description Column -->
      <div class="col-lg-6">
        <div class="about-desc">
          <h3>Have 50+ Awesome Talented<br>People With Us</h3>
          <p class="d-block d-lg-none d-xl-block">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore. On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure.
          </p>
          <p>
            On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
          </p>
          <a href="#" class="readon">VIEW DETAILS</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Background Map -->
  <div class="tcd-bg-map">
    <img src="assets/images/bg-map.png" alt="BG Map">
  </div>
</section>
