<footer class="tcd-footer">
  <div class="footer-widgets">
    <div class="footer-widget">
      <h4>About Us</h4>
      <ul>
        <li><a href="#">Company</a></li>
        <li><a href="#">Career</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="#">Consulting</a></li>
      </ul>
    </div>
    <div class="footer-widget">
      <h4>Support</h4>
      <ul>
        <li><a href="#">Help Center</a></li>
        <li><a href="#">Affiliate Program</a></li>
        <li><a href="#">Partner Program</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="footer-widget">
      <h4>Contact Info</h4>
      <ul>
        <li>Email:Carsential@yahoo.com </li>
        <li>Phone: +21698989898</li>
        <li>Fax: +21698989898</li>
        <li>Website: www.CarSential.com</li>
      </ul>
    </div>
    <div class="footer-widget">
      <h4>Subscribe</h4>
      <form>
        <input type="email" placeholder="Your Email">
        <button type="submit">Subscribe</button>
      </form>
    </div>
  </div>
  <div class="tcd-copyright">
    <p>© 2025 Carsential. All Rights Reserved.</p>
  </div>
</footer>
