<header class="header-wrapper">
  <!-- Top Bar -->
  <div class="topbar">
    <div class="container">
      <div class="contact-info">
        <a href="tel:+21698989898" class="animate-hover">
          <i class="fa fa-phone"></i> +216 98 989 898
        </a>
        <span class="divider">|</span>
        <a href="mailto:Carsential@yahoo.com" class="animate-hover">
          <i class="fa fa-envelope-o"></i> Carsential@yahoo.com
        </a>
      </div>
      <div class="social-links">
        <span>Follow Us:</span>
        <a href="#" class="animate-hover"><i class="fa fa-facebook"></i></a>
        <a href="#" class="animate-hover"><i class="fa fa-twitter"></i></a>
        <a href="#" class="animate-hover"><i class="fa fa-linkedin"></i></a>
        <a href="#" class="animate-hover"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
  </div>

  
</header>
