<section id="tcd-banner" class="tcd-banner banner1">
  <div class="banner-wrapper">
    <div class="container">
      <div class="row banner-middle">
        <div class="col-lg-5 d-none d-lg-block">
          <img src="assets/images/info-graph3.png" alt="Banner Info Graph" class="img-fluid">
        </div>
        <div class="col-lg-7 col-md-12">
          <div class="banner-content">
            <h4>Creative Service</h4>
            <h1>Total Business Solution</h1>
            <p>We Offer Best Corporate Services, Business Consulting, and Professional Tips</p>
            <a routerLink="/services" class="banner-btn">Discover More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
